@model IEnumerable<WebAPIProject.Models.Studio>
@{
        ViewData["Title"] = "Studios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Studios</h2>

<p>
    @Html.ActionLink("Create New", "Create")

</p>

<table>
    <thead>
        <tr>
            <th>

            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var item in Model)
        {*@
        <tr>
            <td>
                @Model.Name
            </td>
            <td>
                @Model.Address
            </td>
            <td>
                @Model.Information
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id = Model.id*/}) │
                @Html.ActionLink("Details", "Details", new { /* id = Model.id*/}) │
                @Html.ActionLink("Delete", "Delete", new { /* id = Model.id*/}) 

            </td>
        </tr>
        @*}*@
    </tbody>
</table>